<div class="flex items-center justify-center m-auto w-full h-screen">
  <svg
    class="w-20 h-15"
    viewBox="0 0 50 31.25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="track"
      stroke="green"
      stroke-width="4"
      style="opacity:0.1; stroke-linecap:round; stroke-linejoin:round;"
      d="M0.625 21.5 h10.25 l3.75 -5.875 l7.375 15 l9.75 -30 l7.375 20.875 v0 h10.25"
    />
    <path
      class="car"
      stroke="green"
      stroke-width="4"
      stroke-dasharray="100"
      stroke-dashoffset="0"
      style="
        stroke-linecap:round;
        stroke-linejoin:round;
        animation: travel 1.75s ease-in-out infinite, fade 1.75s ease-out infinite;
        will-change: stroke-dasharray, stroke-dashoffset;
        transition: stroke 0.5s ease;
      "
      d="M0.625 21.5 h10.25 l3.75 -5.875 l7.375 15 l9.75 -30 l7.375 20.875 v0 h10.25"
    />
  </svg>
</div>